@media (max-width: 1000px) {
    .videoDetail-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'vid vid vid' 'sug sug sug' 'com com com';
        gap: 2rem;
    }
    .video {
        grid-area: vid;
    }

    .comments {
        grid-area: com; 
        border-top: 1px solid #333; 
        padding-top: 1rem;
    }

    .suggestions {
        grid-area: sug; 
    }
}

@media (min-width: 1000px) {
    .videoDetail-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 2ssfr);
        grid-template-areas: 'vid vid sug' 'com com sug';
        gap: 2rem;
    }
    .video {
        grid-area: vid; 
    }

    .comments {
        grid-area: com; 
        border-top: 1px solid #333; 
        padding-top: 1rem;
    }

    .suggestions {
        grid-area: sug;
    }
}